/*
    Steven Tran
    Assignment 5, 2018
    UofT SCS Coding Bootcamp
*/

/*Element CSS*/
body{
    background-color: indigo;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    color: #ffffff;
    line-height: 1.6;
}

p{
    margin-bottom: 0rem;
}

.results{
    margin-bottom: 1rem;
}

#main-header{
    text-align: center;
    margin: 5vh;
}

#playAgain, #clock{
    display: none;
    text-align: center;
}

#top-block{
    margin: 4vh 0;
    min-height: 50px;
}

#gamePhase{
    text-align: center;
}

#question-block{
    background-color: black;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    margin: 4vh 0;
    min-height: 50px;
    padding: 10px;
}